<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">

	<title>商品详情</title>

	<!-- 外部样式引入开始 -->
	<link rel="stylesheet" type="text/css" href="../../public/css/site/step-one.css">
	<!-- 外部样式引入结束 -->

	<!-- 通用js引入开始 -->
	<script type="text/javascript" src="../../public/js/commonJS/zepto.min.js"></script>
	<script type="text/javascript" src="../../public/js/commonJS/dialog.js"></script>
	<script type="text/javascript" src="../../public/js/commonJS/choosenum.js"></script>
	<!-- 通用js引入结束 -->

	<!-- 页面js -->
	<script type="text/javascript" src="../../public/js/site/choose.js"></script>
	<!-- 页面js -->
</head>
<body>
	<a href="javascript:history.go(-1);"  class="prev-page">上一步</a>
	<table width="100%">
		<tr>
			<td width="30%" align="center">预约日期：</td>
			<td>
				<select>
					<option>2014-01-05</option>
				</select>
			</td>
		</tr>
		<tr>
			<td width="30%" align="center">预约时段：</td>
			<td>
				<select>
					<option>10:00</option>
				</select>
			</td>
		</tr>
	</table>
	<div class="line"></div>
	<ul class="list">
		<li>
			<div>
				<input type="checkbox" name="address"/>
			</div>
			<div>
				<p>程文晶 15651869865</p>
				<p>江苏省南京市</p>
			</div>
			<div>
				<a href="">编辑</a>
				<a href="">删除</a>
			</div>			
		</li>
	</ul>
</body>
</html>